<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Mark</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr id="student-<%= student.id %>">
        <td><span class="avatar"><%= student.name.upcase[0] %></span> <%= student.name %></td>
        <td><%= student.subject %></td>
        <td><%= student.marks %></td>
        <td>
          <div class="menu-container">

          <div class="dropdown">
              <button class="dropdown-button">
                  <!-- Down arrow icon -->
                  &#9660;
              </button>
              <div class="dropdown-content">
                  <a href="#" onclick="event.preventDefault(); showEdit('<%= student.id %>')">Edit</a>
                  <%= link_to "Delete", student, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure you want to delete this student?' } %>
              </div>
          </div>
        </td>
      </tr>

      <tr id="student-edit-<%= student.id %>" class="hidden">
        <%= form_for student do |form| %>
          <td><%= form.text_field :name %></td>
          <td><%= form.text_field :subject %></td>
          <td><%= form.text_field :marks %></td>
          <td>
            <div class="menu-container">
              <%= form.submit %>
              <a href="#" onclick="event.preventDefault(); showEdit('<%= student.id %>')">Cancel</a>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="add-button">
  <button id="openModal">Add</button>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>Add Details</h2>
        <%= form_for @student do |form| %>
            <label for="name">Name</label>
            <%= form.text_field :name %>

            <label for="subject">Subject</label>
            <%= form.text_field :subject %>

            <label for="mark">Mark</label>
            <%= form.text_field :marks %>

            <%= form.submit "Add" %>
        <% end %>
    </div>
</div>

<script>
  function showEdit(id) {
    data_id = "student-" + id
    edit_id = "student-edit-" + id
    toggle(data_id)
    toggle(edit_id)
  }

  function toggle(element_id) {
    document.getElementById(element_id).classList.toggle('hidden');
  }
</script>