<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Mark</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><span class="avatar">S</span> <%= student.name %></td>
        <td><%= student.subject %></td>
        <td><%= student.marks %></td>
        <td>
          <div class="menu-container">
            <button class="action-button">&#9733;</button>
            <div class="popup-menu">
              <ul>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="add-button">
  <button id="openModal">Add</button>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>Add Details</h2>
        <%= form_for @student do |form| %>
            <label for="name">Name</label>
            <%= form.text_field :name %>

            <label for="subject">Subject</label>
            <%= form.text_field :subject %>

            <label for="mark">Mark</label>
            <%= form.text_field :marks %>

            <%= form.submit "Add" %>
        <% end %>
    </div>
</div>