<!DOCTYPE html>
<html>
  <head>
    <title>TeacherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% if current_teacher %>
        <header>
          <div class="logo">
              <h1>tailwebs.</h1>
          </div>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li>
                  <%= link_to "Logout", session_path(current_teacher), data: { turbo_method: :delete } %>
              </li>
            </ul>
          </nav>
        </header>
      <% end %>

      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
