<!DOCTYPE html>
<html>
  <head>
    <title>TeacherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_teacher %>
      <p>
        Logged in as: <i><%= current_teacher.email %></i>
        <%= link_to "Logout", session_path(current_teacher), data: { turbo_method: :delete } %>
      </p>
    <% else %>

    <% end %>
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
